<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>My code is</h1>
  <form #form="ngForm">
    <ion-input inputmode="numeric" placeholder="000000" name="code" [(ngModel)]="code" required pattern="[0-9]{6}" helperText="6 number code sent to your phone"></ion-input>
    <ion-button class="readr-button" shape="round" (click)="continueButton()" [disabled]="form.invalid">
      CONTINUE
    </ion-button>
  </form>
</ion-content>