
  <figure class="card__content">
    <img [src]="book.bookTitle.coverUrl" [alt]="book.bookTitle.title">
    <div class="overlay_choice"></div>
    <div class="overlay"></div>
    <div class="card__title">
      <h1>
        {{book.bookTitle.title}}
      </h1>
      <h3>
        by {{book.bookTitle.author}}
      </h3>
      @if (book.distanceMeters !== undefined) {
        <p>
          <ion-icon name="location-outline" />
          {{book.distanceMeters / 1000}} kilometers away
        </p>
      }
    </div>
  </figure>

