<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" fill="clear" [routerLink]="['/add-books']">
      SKIP
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Genres</h1>
  <p>Let us know what genres you're interested in by adding it to your profile</p>
  <div id="genrebox">
    <app-genre-chip *ngFor="let genre of genres" [title]="genre.name" (toggledEvent)="genreToggled(genre, $event)"/>
  </div>
  <ion-button class="readr-button" shape="round" [disabled]="this.selectedGenres.size < 5" (click)="continueButton()">
    CONTINUE {{this.selectedGenres.size}}/5
  </ion-button>
</ion-content>