<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Add the book</h1>
  <form #form="ngForm">
    <ion-input helperText="Title" [(ngModel)]="book.title" name="title" required></ion-input>
    <ion-input helperText="Author" [(ngModel)]="book.authorName" name="authorName"  required></ion-input>
    <ion-button class="readr-button" shape="round" (click)="confirm()" [disabled]="form.invalid">
      CONTINUE
    </ion-button>
  </form>
</ion-content>